<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head> 
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h1>Projekt z przedmiotu SPZC - Decoy based MTD</h1>
	<h2>Zaloguj sie</h2>
    <form action="#" th:action="@{/user}" th:object="${user}" method="post">
    	<p>Nazwa uzytkownika: <input type="text" th:field="*{name}" /></p>
        <p>Haslo: <input type="text" th:field="*{pwdHash}" /></p>
        <p><input type="submit" value="Submit" name="loginTrial"/>
            <input type="reset" value="Reset" /></p>
    </form>
    <h2>albo zarejestruj</h2>
    <form action="#" th:action="@{/user}" th:object="${user}" method="post">
        <p>Nazwa uzytkownika: <input type="text" th:field="*{name}" /></p>
        <p>Email: <input type="text" th:field="*{pwdHash}" /></p>
        <p>Haslo: <input type="text" th:field="*{pwdHash}" /></p>
        <p><input type="submit" value="Submit" name="createAccountTrial"/>
            <input type="reset" value="Reset" /></p>
    </form>
</body>
</html>
